<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Parking-System</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>parkingSystem.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>parkingSystem.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>parkingSystem.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectionProvider</display-name>
    <servlet-name>ConnectionProvider</servlet-name>
    <servlet-class>parkingSystem.ConnectionProvider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionProvider</servlet-name>
    <url-pattern>/ConnectionProvider</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyCost</display-name>
    <servlet-name>ModifyCost</servlet-name>
    <servlet-class>parkingSystem.ModifyCost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyCost</servlet-name>
    <url-pattern>/ModifyCost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatePassword</display-name>
    <servlet-name>updatePassword</servlet-name>
    <servlet-class>parkingSystem.updatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatePassword</servlet-name>
    <url-pattern>/updatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookSlot</display-name>
    <servlet-name>BookSlot</servlet-name>
    <servlet-class>parkingSystem.BookSlot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookSlot</servlet-name>
    <url-pattern>/BookSlot</url-pattern>
  </servlet-mapping>
</web-app>